---
// Button.astro
type ButtonVariant = 'primary' | 'secondary' | 'tertiary' | 'outline';

const { href, text, variant = "primary", id = "" } = Astro.props;

// Define clases base del bot칩n con ancho autom치tico y responsive
const baseClasses = "inline-flex items-center justify-center font-special rounded-xl hover:scale-105 w-auto font-medium";
const responsiveClasses = "px-6 py-3 text-sm sm:text-base"; // Tama침os de padding y fuente responsivos

// Variantes del bot칩n
const variantClasses: Record<ButtonVariant, string> = {
  primary: "text-olive-black bg-sunset  transition-all duration-300 hover:text-bone-white hover:bg-olive-black",
  secondary: "text-bone-white bg-olive-black hover:bg-primary transition-all duration-300 hover:text-olive-black hover:bg-sunset",
};

// Combina todas las clases
const classes = `${baseClasses} ${responsiveClasses} ${variantClasses[variant as ButtonVariant]}`;
---

<a href={href} class={classes} id={id}>{text}</a>


